body
	background-color: #F5F8FA
	margin: 0
	
.inputError
	width: 250px
	background-color: #fff
	color: red
	border: 1px solid red
	padding: 5px
	margin-bottom: 10px
	border-radius: 3px

.success
	width: 250px
	background-color: #fff
	color: green
	border: 1px solid green
	padding: 5px
	margin-bottom: 10px
	border-radius: 3px