<div class="form">
    <form>
        <div class="input-wrapper">
            <input type="text" class="form-input" name="username" placeholder="Username">
        </div>

        <div class="input-wrapper">
           <input type="password" class="form-input" name="password" placeholder="Password"> 
        </div>
        <button class="form-button" name="loginButton">Login</button>
        <a href="#" name="toRegister">Registration</a>
        <a href="#" name="recoverPassLink">Forgot Password</a>
    </form>
</div>