<div class="wrapper__profileSettings__tabs__content__title">
    <p class="wrapper__profileSettings__tabs__content__title__albumname">Albumname</p>
    <button class="wrapper__profileSettings__tabs__content__title__addphoto">Add Photo</button>
</div>
    
<div class="wrapper__profileSettings__tabs__content__photos">
    
    No photos yet!

</div>