<div class="form">
    <form>
        <div class="input-wrapper">
            <input class="form-input" type="text" name="email" id="fieldEmail" placeholder="Email">
            <p class="form-p">*</p>
        </div>
        <button class="form-button" name="recoverPassBtn">Send</button>
        <a href="#" name="toLogin">Back to login page</a>
    </form>
</div>