<div class="wrapper__form">
    <div class="wrapper__form__cont">
        <input class="wrapper__form__cont__input" type="text" name="email" id="fieldEmail" placeholder="Email">
        <p class="wrapper__form__cont__p">*</p>
    </div>
    <a href="#" class="wrapper__form__a" name="toLogin">Back</a>
</div>