<div class="wrapper__form">
    <form>
        <div class="wrapper__form__cont">
            <input class="wrapper__form__cont__input" type="text" name="email" id="fieldEmail" placeholder="Email">
            <p class="wrapper__form__cont__p">*</p>
        </div>
        <button class="wrapper__form__btn" name="recoverPassBtn">Send</button>
        <a href="#" class="wrapper__form__a" name="toLogin">Back to login page</a>
    </form>
</div>