<div class="form">
    <form>
        <div class="input-wrapper">
            <input class="form-input" type="text" name="username" placeholder="Login">
            <p class="form-p">*</p>
        </div>
        <div class="input-wrapper">
            <input class="form-input" type="text" name="email" placeholder="Email">
            <p class="form-p">*</p>
        </div>
        <div class="input-wrapper">
            <input class="form-input" type="password" name="password" placeholder="Password">
            <p class="form-p">*</p>
        </div>
        <div class="input-wrapper">
            <input class="form-input" type="password" name="confirmPass" placeholder="Confirm Password">
            <p class="form-p">*</p>
        </div>
        <div class="input-wrapper">
            <input class="form-input" type="text" name="firstname" placeholder="First name">
        </div>
        <div class="input-wrapper">
            <input class="form-input" type="text" name="lastname" placeholder="Last name">
        </div>
        <div class="input-wrapper">
            <input class="form-input" type="text" name="captcha" placeholder="Сколько будет {{firstNumber}} + {{lastNumber}}?">
            <p class="form-p">*</p>
        </div>
        <button class="form-button" name="registerButton">Register</button>
        <a href="#" name="toLogin">Login</a>
    </form>
</div>
