<div class="wrapper__form">
    <form>
        <div class="wrapper__form__cont">
            <input class="wrapper__form__cont__input" type="text" name="username" id="fieldLogin" placeholder="Login">
            <p class="wrapper__form__cont__p">*</p>
        </div>
        <div class="wrapper__form__cont">
            <input class="wrapper__form__cont__input" type="text" name="email" id="fieldEmail" placeholder="Email">
            <p class="wrapper__form__cont__p">*</p>
        </div>
        <div class="wrapper__form__cont">
            <input class="wrapper__form__cont__input" type="password" name="password" id="fieldPass" placeholder="Password">
            <p class="wrapper__form__cont__p">*</p>
        </div>
        <div class="wrapper__form__cont">
            <input class="wrapper__form__cont__input" type="password" name="confirmPass" id="fieldConfPass" placeholder="Confirm Password">
            <p class="wrapper__form__cont__p">*</p>
        </div>
        <div class="wrapper__form__cont">
            <input class="wrapper__form__cont__input" type="text" name="firstname" id="fieldFname" placeholder="First name">
        </div>
        <div class="wrapper__form__cont">
            <input class="wrapper__form__cont__input" type="text" name="lastname" id="fieldLname" placeholder="Last name">
        </div>
        <div class="wrapper__form__cont">
            <input class="wrapper__form__cont__input" type="text" name="captcha" id="captcha">
            <p class="wrapper__form__cont__p">*</p>
        </div>
        
        
        

        <button class="wrapper__form__btn" name="registerButton" type="button">Register</button>
        <a href="#" class="wrapper__form__a" name="toLogin">Login</a>
    </form>
</div>
