.wrapper__profileSettings__tabs__content__albums
    &__empty
        text-align: center
    &__list
        padding: 0
        display: flex
        flex-direction: row
        justify-content: space-around
        flex-wrap: wrap
        &__item
            list-style: none
            margin-bottom: 20px
            &__image
                width: 290px
                height: 166px
                background-image: url('../img/no-image.png')
                margin-bottom: 5px
            &__name
                display: inline-block
                color: #4DBAEE
                text-decoration: none
                &:hover
                    color: #4D91D0
            &__date
                margin: 0
                color: #292B2C
            &__delete
                float: right
                display: inline-block
                color: #4DBAEE
                text-decoration: none
                &:hover
                    color: #4D91D0