.wrapper__content__right
    width: 20%
    min-width: 245px
    &__profile
    &__friends
        border: 1px solid #dfdfdf
        background-color: #fff

        &__list
            padding: 20px
            &:first-child
                border-bottom: 1px solid #dfdfdf
            &__title
                margin-bottom: 10px
                display: flex
                flex-direction: row
                justify-content: space-between
                &__text
                    color: #292B2C
                    font-weight: bold
                    margin: 0
                &__link
                    margin: 0
                    color: #3097D1
                    text-decoration: none
                    font-weight: bold
                    &:hover
                        color: #014C8C
            &__content
                color: #292B2C
                display: flex
                flex-direction: column
                justify-content: flex-start
                &__item
                    display: flex
                    flex-direction: row
                    margin-bottom: 10px
                    &__photo
                        min-width: 60px
                        width: 60px
                        height: 60px
                        border-radius: 50%
                        background-color: #fff
                        &__img
                            width: 100%
                            height: 100%
                            border-radius: 50%
                    &__info
                        margin-left: 5px
                        &__name
                            margin: 0
                            color: #3097D1
                            text-decoration: none
                            font-weight: bold
                            &:hover
                                color: #014C8C
                        &__buttons
                            margin-top: 10px
                            display: flex
                            flex-direction: row
                            &__button
                                display: flex
                                flex-direction: row
                                justify-content: center
                                border-radius: 3px
                                padding: 5px
                                border: 1px solid #3097D1
                                color: #3097D1
                                background-color: #fff
                                margin-right: 5px
                                &:hover
                                    background-color: #3097D1
                                    color: #fff
                                &__text
                                    margin: 0
                                    margin-left: 5px
                                    
        &__quote
            padding: 20px
            border-top: 1px solid #dfdfdf
            background-color: #F7F7F9
            &__p
                margin: 0
                color: #292B2C