.wrapper__content__right
    width: 25%
    &__friends
        border: 1px solid #dfdfdf
        background-color: #fff
        &__list
            padding: 20px
            &:first-child
                border-bottom: 1px solid #dfdfdf
            &__title
                color: #292B2C
                font-weight: bold
            &__content
                color: #292B2C
        &__quote
            padding: 20px
            border-top: 1px solid #dfdfdf
            background-color: #F7F7F9
            &__p
                margin: 0
                color: #292B2C