.wall__post
    width: 100%
    display: flex
    flex-direction: column
    justify-content: center 
    border-bottom: 1px solid #DFDFDF
    margin-bottom: 10px
    &__info
        display: flex
        flex-direction: row
        justify-content: space-between
        
        &__user
            display: flex
            flex-direction: row
            justify-content: flex-start
            align-items: flex-start
            &__photo
                min-width: 60px
                width: 60px
                height: 60px
                border-radius: 50%
                background-color: #fff
                margin-right: 5px
                &__img
                    width: 100%
                    height: 100%
                    border-radius: 50%
            &__name
                color: #3097D1
                text-decoration: none
                font-weight: bold
                &:hover
                    color: #014C8C
            &__date
                &__p
                    margin: 0
                    margin-top: 3px
                    font-size: 14px
    &__content
        margin-left: 65px
        margin-top: -40px
        margin-bottom: 6px
        &__text
            margin: 0
        &__media    
    &__links
        display: flex
        flex-direction: row
        justify-content: flex-end
        margin-bottom: 5px
        &__a
            color: #3097D1
            text-decoration: none
            margin-left: 10px
            &:hover
                color: #014C8C
                    